header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul {
    padding: 20px;
    margin: 10px;
    list-style-type: none;
}

.navbar {
    font-size: 40px;
}

.introduction { 
    border-bottom: 2px solid red;
}

.cinemotography {
    border-bottom: 2px solid red;
}


a { 
    text-decoration: none;
    color: red;
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}


body {
    Background: black;
    font-family: fantasy;
    color:red;
}

.draakp1 {
   width: 23%;
   border-radius: 10px;
   float: right;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

p {
  margin-left: 10px;
  font-size: 30px;
}